{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tarefas {% block titulo %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

        <script src="{% static 'js/bootstrap.min.js' %}"></script>

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h1>Gerenciador de Tarefas</h1>
                    </div><!-- navbar-header -->
                </div><!-- container-fluid -->
            </nav> <!-- Navbar -->
            <div>
                {% block conteudo %}
                {% endblock %}
            </div><!-- jambotron-->
        </div> <!-- Container -->

    </body>
</html>
